## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [ ]:
#write here and run the cell
for i in range(1,11):
  for j in range(1,11):
      print(f"{i*j:5d}",end='|')
  print()

    1|    2|    3|    4|    5|    6|    7|    8|    9|   10|
    2|    4|    6|    8|   10|   12|   14|   16|   18|   20|
    3|    6|    9|   12|   15|   18|   21|   24|   27|   30|
    4|    8|   12|   16|   20|   24|   28|   32|   36|   40|
    5|   10|   15|   20|   25|   30|   35|   40|   45|   50|
    6|   12|   18|   24|   30|   36|   42|   48|   54|   60|
    7|   14|   21|   28|   35|   42|   49|   56|   63|   70|
    8|   16|   24|   32|   40|   48|   56|   64|   72|   80|
    9|   18|   27|   36|   45|   54|   63|   72|   81|   90|
   10|   20|   30|   40|   50|   60|   70|   80|   90|  100|

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:
#write here and run the cell
l1=[1,2,3,4,5]
l2=[6,7,8,9,10,11,12]
l3=[]
odd_elements= l1[1::2]  #starting from index 1 to end with step size of 2 to get odd index elements
even_elements=l2[0::2]  #starting from index 0 to end with step size of 2 to get even index elements

l3=odd_elements+even_elements
print(l3)

[2, 4, 6, 8, 10, 12]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
#write here and run the cell
n=8
while(n>0):
  print('  '*(8-n)+ '* '*n)
  n=n-1
  print()

* * * * * * * *

  * * * * * * *

    * * * * * *

      * * * * *

        * * * *

          * * *

            * *

              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
#write here and run the cell
def exponent(base,exp):
  if exp>0:
    return base**exp
  else:
    raise ValueError("exponent should be greater than 0")

try:
  base=int(input("Input the base:"))
  exp=int(input("Input the exp:"))
  result=exponent(base,exp)
  print(f" {base} raise to power {exp} is {result}")
except ValueError as e:
  print(f"Error: {e}")

Input the base:5
Input the exp:4
 5 raise to power 4 is 625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [36]:
#write here and run the cell
with open("test.txt",'w') as f:
  f.write("line1\n")
  f.write("line2\n")
  f.write("line3\n")
  f.write("line4\n")
  f.write("line5\n")
  f.write("line6\n")
  f.write("line7")
  f.close()

In [37]:
with open("test.txt","r") as f,open("newfile.txt","w") as newfile:
  lines=f.readlines() #list of all lines separated by newline character
  for i in range(1,len(lines)+1): #i represent line number from 1 to 7
    if i!=5:
      newfile.write(lines[i-1])
  f.close()
  newfile.close()
     #i-1 is used as list index starts from 0

In [38]:
# Reading and printing the contents of test.txt
with open("test.txt", "r") as f:
    print("Contents of test.txt:")
    print(f.read())

# Reading and printing the contents of newfile.txt
with open("newfile.txt", "r") as newfile:
    print("\nContents of newfile.txt:")
    print(newfile.read())

Contents of test.txt:
line1
line2
line3
line4
line5
line6
line7

Contents of newfile.txt:
line1
line2
line3
line4
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [ ]:
#write here and run the cell
Input = input("Enter three names separated by spaces: ")

# Split the input string into a list of names
names_list=Input.split()

for name in names_list:
  print(name)

Enter three names separated by spaces: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [ ]:
#write here and run the cell
def showEmployee(Name, salary=9000):
  print(f"{Name} salary: {salary}")

showEmployee("Bill Gates",12000)
showEmployee("Elon Musk")

Bill Gates salary: 12000
Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [ ]:
#write here and run the cell
str1 = "Harry25 is Gryffindor Wizard50 and cursed"
def checkString(string):
  is_string,is_digit= False, False
  for character in string:
    if character.isalpha(): #to check if the character is letter
      is_string=True

    if character.isdigit(): #to check if the character is digit
      is_digit=True
  return is_string and is_digit #returns True if it contains both digits and letters

for string in str1.split(): #here we iterate over all the words one by one
  if checkString(string): #for the given word, check if it contains both digits and letters. If true print that word.
    print(string)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [ ]:
#write here and run the cell
str1 = '/*Modi is @Politician & Melony!!'

import string
symbols=string.punctuation #symbols= !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
def replaceSpecialCharacter(str1):
  str2=''
  for character in str1: #iterate through each character.
    if character in symbols: # if character is special symbol, append # to str2
      str2=str2+"#"
    else:
      str2=str2+character #if character is not special symbol, just append that character as it is.
  return str2

modified_string=replaceSpecialCharacter(str1)
print(modified_string)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [ ]:
#write here and run the cell
output=set()
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
for pair in zip(first_list,second_list):
  output.add(pair)
print(f"Result is {output}")

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [ ]:
#write here and run the cell
# Define set A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# 1. A - B (Set difference)
print("A - B:", A - B)

# 2. B - A (Set difference)
print("B - A:", B - A)

# 3. A ∩ B (Set intersection)
print("A ∩ B:", A.intersection(B))

# 4. A ∪ B (Set union)
print("A ∪ B:", A.union(B))

A - B: {1, 2, 3}
B - A: {8, 6, 7}
A ∩ B: {4, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [39]:
#write here and run the cell
class Vehicle:
  def __init__(self,max_speed,mileage):
    self.max_speed=max_speed
    self.mileage=mileage

ob=Vehicle(50,15000)
print(ob.max_speed)
print(ob.mileage)

50
15000

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [ ]:
#write here and run the cell
class Bus(Vehicle): #chi.d class of Vehicle parent class
  pass

bus=Bus(60,15000)
print(f"Max speed: {bus.max_speed} km/hr")
print(f"Mileage: {bus.mileage} km")

Max speed: 60 km/hr
Mileage: 15000 km

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [ ]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    def seating_capacity(self,capacity=50): #override the seating_capacity method of parent class
       return super().seating_capacity(capacity)

bus=Bus("School Bus", 120, 15000)
print(bus.seating_capacity())

The seating capacity of a School Bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [ ]:
#write here and run the cell

class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):

  def fare(self):
    normal_fare=super().fare()
    bus_fare= normal_fare+0.1*normal_fare
    return bus_fare

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [ ]:
#write here and run the cell
import json
data = {"key1" : "value1", "key2" : "value2"}
json_data = json.dumps(data,indent=4)
print(json_data)

{
    "key1": "value1",
    "key2": "value2"
}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [40]:
#write here and run the cell
sampleJson = {"id" : 1, "name" : "value2", "age" : 29}
sortedJson=json.dumps(sampleJson,sort_keys=True,indent=4)
print(sortedJson)

with open("sortedJson.json","w") as file:
  file.write(sortedJson)
  file.close()

{
    "age": 29,
    "id": 1,
    "name": "value2"
}

In [43]:
with open("sortedJson.json", "r") as file:
    print("\nContents of sortedJson.json file:")
    print(file.read())

Contents of sortedJson.json file:
{
    "age": 29,
    "id": 1,
    "name": "value2"
}